.form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  &:nth-child(2n) {
    margin-bottom: 0;
  }
}

.span {
  margin-bottom: 7px;
  font-weight: 300;
  font-size: 14px;
  line-height: 123%;
  color: #000;
}

.input {
  position: relative;
  height: 45px;
  padding: 8px 10px;
  border: 0.30px solid #898989;
  border-radius: 4px;
  background: #fff;
  outline: none;

  font-weight: 300;
  font-size: 14px;
  line-height: 123%;
  color: #000;

  transition: border .2s, box-shadow .2s;

  &:hover {
    border: 0.30px solid #ffdf39;
    box-shadow: 0 0 5px #00000010;
  }

  &:focus {
    border: 0.30px solid #ffdf39;
  }
}

.submitContainer {
  display: flex;
  align-items: center;
  gap: 27px;
  margin-top: 43px;
}

.submitText {
  font-weight: 300;
  font-size: 12px;
  line-height: 107%;
  color: #8b8b8b;

  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    transition: color .2s;
    &:hover {
      color: #000;
    }
  }
}