.container {
  display: flex;
  justify-content: center;
  background: #F0F0F0;

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
  }
}

.offset {
  padding-top: 63px;
  padding-bottom: 63px;
}

.content {
  flex-shrink: 0;

  @media (max-width: 1024px) {
    width: 100%!important;
  }
}

.image {
  display: flex;
  align-self: stretch;

  img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  @media (max-width: 1024px) {
    display: none;
    height: 400px;
    img {
      height: initial;
      object-position: top center;
      width: 100%;
    }
  }
}

.darkBackground {
  background: #222222;
}

.lightColor {
  color: #fff;
}