.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F0F0F0;
}

.offset32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.content {
  flex-shrink: 0;
}

.image {
  display: flex;
  align-self: stretch;

  img {
    object-fit: cover;
    object-position: center center;
    height: 100%;
  }
}

.darkBackground {
  background: #222222;
}

.lightColor {
  color: #fff;
}