.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;

  @media (max-width: 1024px) {
    gap: 32px;
  }
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 23px;

  @media (max-width: 1300px) {
    flex-direction: column;
  }

  @media (max-width: 1024px) {
    flex-direction: initial;
  }
}

.logoImg {
  width: 146px;
  height: 30px;
}

.logoText {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 107%;
  color: #8b8b8b;
}

.menu {
  display: flex;
  align-items: center;
  padding-left: 72px;
  gap: 4px;

  @media (max-width: 1300px) {
    padding-left: 30px;
  }
}

.menuItem {
  margin-right: 16px;
  flex-shrink: 0;
}

.menuLink {
  font-weight: 400;
  font-size: 15px;
  line-height: 107%;
  color: #8b8b8b;

  transition: color .2s;
  &:hover {
    color: #000;
  }
}

.contact {
  display: flex;
  flex-direction: column;
}

.contactPhone {
  font-weight: 700;
  font-size: 16px;
  line-height: 107%;
  color: #000;
  margin-bottom: 3px;
}

.contactText {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 107%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #8b8b8b;
  transition: color .2s;

  &:hover {
    color: #000
  }
}

.burgerIcon {
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  outline: none;
  width: 30px;
  height: 30px;
  background: #ffdf39;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  transition: transform .2s, background .2s;
  border: 2px solid #222222;

  &:hover {
    &:before,
    &:after {
      opacity: 1;
      width: 50%;
      height: 50%;
    }
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
    background: #222222;
    width: 8px;
    height: 100%;
    transition: opacity .2s, width .2s, height .2s, background .2s;
  }

  &:before {
    top: 0;
    left: 0;
  }

  &:after {
    bottom: 0;
    right: 0;
  }
}

.mobileMenuOpened {
  transform: rotate(90deg);
  background: #222222;

  &:hover {
    &:before,
    &:after {
      width: 50%;
      height: 50%;
    }
  }

  &:after {
    bottom: initial;
    right: initial;
    top: 0;
    left: 0;
  }

  &:before {
    top: initial;
    left: initial;
    bottom: 0;
    right: 0;
  }

  &:before, &:after {
    background: #ffdf39;
  }
}

.burgerMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  background: #fff;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);

  .menuItem {
    width: 100%;
    margin-right: 0;
  }

  .menuLink {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    font-size: 21px;
  }
}

